<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body class="content">
    <section class="side-bar">
      <div class="profile-picture-container">
        <img src="#" alt="your profile picture">
        <button class="notification-bell"></button>
        <button class="side-bar-button"></button>
      </div>
      <ul class="side-bar-list-item-container">
        <li class="side-bar-list-item"><a href="#">Add task</a></li>
        <li class="side-bar-list-item"><a href="#">Search</a></li>
        <li class="side-bar-list-item"><a href="#">Inbox</a></li>
        <li class="side-bar-list-item"><a href="#">Today</a></li>
        <li class="side-bar-list-item"><a href="#">Upcoming</a></li>
        <li class="side-bar-list-item"><a href="#">Filters & Labels</a></li>
        <li class="side-bar-list-item"><a href="#">Completed</a></li>
      </ul>
      <div class="projects-list-container">
        <p>My Projects</p>
        <ul class="project-list-items">
          <li class="project-list-item"><a href="#">The Odin Project</a></li>
          <li class="project-list-item"><a href="#">Operation Beach Body</a></li>
          <li class="project-list-item"><a href="#"></a></li>
          <li class="project-list-item"><a href="#"></a></li>
          <li class="project-list-item"><a href="#"></a></li>
        </ul>
      </div>
    </section>
  </body>
</html>