<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>To Do List</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body class="content">
    <section class="side-bar">
      <div class="profile-picture-container">
        <img src="#" alt="your profile picture" />
        <button class="notification-bell">bell</button>
        <button class="side-bar-button">close</button>
      </div>
      <ul class="side-bar-list-item-container">
        <!-- ADD SVGs to this later -->
        <li class="side-bar-list-item"><a href="#">Add task</a></li>
        <li class="side-bar-list-item"><a href="#">Search</a></li>
        <li class="side-bar-list-item"><a href="#">Inbox</a></li>
        <li class="side-bar-list-item"><a href="#">Today</a></li>
        <li class="side-bar-list-item"><a href="#">Upcoming</a></li>
        <li class="side-bar-list-item"><a href="#">Filters & Labels</a></li>
        <li class="side-bar-list-item"><a href="#">Completed</a></li>
      </ul>
      <div class="projects-list-container">
        <p>My Projects</p>
        <ul class="project-list">
        </ul>
      </div>
    </section>
    <main class="main-content-container">
      <div class="settings-header">
        <button class="settings-button">settings and view</button>
      </div>
      <div class="todays-tasks-div">
        <div class="today-title">Today</div>
        <div class="task-quantifier">You have 100 tasks to do today. Good luck!</div>
      </div>
      <div>My Ganbaristo</div>
      <div class="to-do-list-parent-container">
        <!-- Users should only see the title of the to do list item and be able to see all properties once they click on the item. -->
        <div class="to-do-list-container">
          <button class="checklist-button">a</button>
          <div class="to-do-title">Do it 1</div>
        </div>
        <div class="to-do-list-container">
          <button class="checklist-button">a</button>
          <div class="to-do-title">Do it 2</div>
        </div>
        <div class="to-do-list-container">
          <button class="checklist-button">a</button>
          <div class="to-do-title">Do it 3</div>
        </div>
        <div class="add-task-button-container">
          <button class="add-task-button">Add task</button>
        </div>
        <div class="to-do-list-dialog-box">
          <div class="to-do-list-title">This is the title</div>
          <div class="to-do-lis-description">This is the description</div>
          <div class="date-and-priority-and-confirm-container">
            <button class="to-do-list-date">Select Date</button>
            <button class="to-do-list-priority">Priority</button>
            <button class="confirm-task-button">confirm arrow</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
