<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ganbaristo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../assets/icons/to-do-list-favicon.png" type="image/png" />
    <link href="../styles/output.css" rel="stylesheet" />
  </head>

  <body class="content">
    <!-- SIDE BAR -->
    <section class="side-bar flex flex-col p-5 bg-[#FFFFFF] w-1/9">
      <div class="profile-picture-parent-container flex justify-center">
          <img
            class="size-10 rounded-xl object-contain"
            src="../assets/images/profile-pic-placeholder-2.png"
            alt="your profile picture"
          />
      </div>
      <ul class="side-bar-list-item-container flex justify-center">
        <!-- ADD SVGs to this later -->
      </ul>
      <div class="projects-list-container flex flex-col items-center">
        <div class="my-projects-header">
          <p class="text-2xl underline">My Projects</p>
        </div>
        <ul class="project-list">
          <!-- PROJECTS WILL GO HERE WHEN RENDERED -->
        </ul>
      </div>
      <span class="flex justify-center mt-auto"><button class="add-project-button text rounded-full bg-[#155DFC] p-2 text-[#FFFFFF]">+ New Project</button></span>
    </section>
    <main class="main-content-container bg-[#FAFAFA] w-8/9 h-screen flex flex-col items-center pt-2">
      <div class="todays-tasks-div">
        <div class="project-title">Default Title</div>
      </div>
      <!-- TO DO LIST CONTAINER -->
      <div class="to-do-list-parent-container">
        <!-- Users should only see the title of the to do list item and be able to see all properties once they click on the item. -->
      </div>
      <!-- TO DO LIST INPUT FORM -->
      <!-- Add subtasks input area LATER -->
      <form class="to-do-list-dialog-box">
        <div class="to-do-list-title-input-container">
          <input
            type="text"
            class="to-do-list-title-input"
            name="title"
            placeholder="Enter title"
          />
        </div>
        <div class="to-do-list-description-input-container">
          <input
            type="text"
            class="to-do-list-description-input"
            name="description"
            placeholder="Enter description"
          />
        </div>
        <div class="date-priority-input-and-confirm-container">
          <input type="date" name="date" class="to-do-list-date-input" />
          <select name="priority" class="to-do-list-priority-input">
            <option value="High" data-index="2">High</option>
            <option value="Medium" data-index="1">Medium</option>
            <option value="Low" data-index="0">Low</option>
          </select>
          <button type="submit" class="create-todo-button">Create todo</button>
        </div>
      </form>
      <!-- PROJECT ADDITION FORM -->
      <form class="project-addition-dialog-box"></form>
    </main>
  </body>
</html>
