@import "tailwindcss";

.content {
  font-family: 'roboto', 'sans-serif';
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  overflow: hidden;
}


/* TO DO LIST CONTAINER STYLING */
.to-do-list-container {
  display: flex;
  gap: 10px;
}

/* Hide Completed Tasks */
.completed {
  display: none;
}

/* Change color depending on priority */

.priority-high {
  color: red;
}

.priority-medium {
  color: orange;
}

.priority-low {
  color: blue;
}

/* ADD TO DO LIST DIALOG BOX */
.to-do-list-dialog-box {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 20px;
}

/* ADD PROJECT DIALOG BOX */

.project-addition-dialog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}