* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.side-bar {
  width: 250px;
  height: 100vh;
  background-color: #f0f0f0;
  left: 0;
  top: 0;
  padding: 20px;
}

.to-do-list-container {
  display: flex;
  gap: 10px;
}

.completed {
  display: none;
}

/* Change color depending on priority */

.priority-high {
  color: red;
}

.priority-medium {
  color: orange;
}

.priority-low {
  color: blue;
}

.to-do-list-dialog-box {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 20px;
}
